;; Note that when using zeromq natively, you'll need to manually build and install the
;; jzmq JNI library.  Otherwise use the :jeromq alias.
{:deps {byte-streams/byte-streams {:mvn/version "0.2.5-alpha2"}
        com.stuartsierra/component {:mvn/version "1.1.0"}
        org.zeromq/cljzmq {:mvn/version "0.1.4"}
        org.slf4j/slf4j-api {:mvn/version "2.1.0-alpha1"}}
 
 :aliases
 {:dev
  {:extra-deps {ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}
   :extra-paths ["env/dev"]
   :jvm-opts ["-Djava.library.path=/usr/local/lib"]}
  
  ;; Use jeromq alias, in case there is no native lib
  :jeromq
  {:override-deps
   {org.zeromq/cljzmq {:mvn/version "0.1.4"
                       :exclusions [org.zeromq/jzmq]}}
   :extra-deps 
   {org.zeromq/jeromq {:mvn/version "0.5.4"}}}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}}

  :junit
  {:exec-fn monkey.test/junit}

  :jar
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :exec-args {:jar "target/monkey-zmq.jar"
               :lib com.monkeyprojects/zmq
               :version-env "LIB_VERSION"}
   :exec-fn monkey.build/jar}

  :publish
  {:exec-fn monkey.build/jar+deploy}}}
